// - Very dark blue (main background): hsl(233, 47%, 7%)
// - Dark desaturated blue (card background): hsl(244, 38%, 16%)
// - Soft violet (accent): hsl(277, 64%, 61%)
// - White (main heading, stats): hsl(0, 0%, 100%)
// - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
// - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

// font-family: 'Inter', sans-serif;
// font-family: 'Lexend Deca', sans-serif;

$Very-dark-blue: hsl(233, 47%, 7%);
$Dark-desaturated-blue: hsl(244, 38%, 16%);
$Soft-violet: hsl(277, 64%, 61%);
$White : hsl(0, 0%, 100%);
$Slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white : hsla(0, 0%, 100%, 0.6);

* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $Very-dark-blue;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    width: 65rem;
    height: 26rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
main{
    .left{
        width: 50%;
        height: 100%;
        padding: 4em;
        font-family: 'Inter', sans-serif;
        background-color: $Dark-desaturated-blue;
        display: flex;
        flex-direction: column;

    }
    .right{
        width: 50%;
        height: 100%;
        background: url('./images/image-header-desktop.jpg');
        background-repeat: no-repeat;
    }
}
.up {
    h1 {
        font-size: 2.2em;
        font-weight: 700;
        color: $White;
    }
    p {
        font-family: 'Inter', sans-serif;
        color: $Slightly-transparent-white;
        padding-right: 2em;
        line-height: 1.5em;
                
    }
    span{
        color: $Soft-violet;
    }
}

.down {
    p{
    color: $Slightly-transparent-white;
    font-family: 'Inter', sans-serif;
    font-size: 0.7em;
    margin-top: 0.5em;
    letter-spacing: 0.2em;
}
    h1 {
    color: $White;
    margin-bottom: 0px;
}
}
.filter{
    width: 100%;
    height: 100%;
    background-color: $Soft-violet;
    opacity: 0.6;
}
.down {
    width: 100%;
    height: 15em;
    display: flex;
}
.up {
    width: 100%;
    height: 15em;
}
.box {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media (max-width: 600px) {
    main {
        width: 24rem;
        height: 55rem;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        
    }
    main{
        .left{
            width: 100%;
            height: 14em;
            padding: 2em;
            background-color: $Dark-desaturated-blue;
            flex-grow: 1;
        }
        .right{
            width: 100%;
            height: 14em;
            background-image: url('./images/image-header-desktop.jpg');
            background-size: cover;
        }
    }
    .up {
        text-align: center;
        padding: 0px 1em;
        h1 {
            margin-top: 0;
            margin-bottom: 0.5em;
            font-size: 2em;
        }
        p {
            margin-top: 0;
        }
    }
    .down {
        width: 100%;
        height: 20em;
        display: flex;
        flex-direction: column;
    }
    .box {
        text-align: center;
    }
}
